.container,
.event {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event {
    width: 80%;
    padding: 4rem;
}

.event h1 {
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
}

.container .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .title h2 {
    /* color: var(--main-color); */
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.container .table-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .table-box table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.container .table-box table thead {
    background: var(--main-color);
}

.container .table-box table thead tr th {
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.container .table-box table tbody tr td {
    padding: 1rem;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.container .table-box table tbody tr td form {
    display: inline-block;
}

.container .table-box table tbody tr td .status {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.container .table-box table tbody tr td .status-pending {
    background: #f1c40f;
    color: #fff;
}

.container .table-box table tbody tr td .status-canceled,
.container .table-box table tbody tr td .status-rejected {
    background: #e74c3c;
    color: #fff;
}

.container .table-box table tbody tr td .status-confirmed,
.container .table-box table tbody tr td .status-completed {
    background: #2ecc71;
    color: #fff;
}


/* media queries */
@media (max-width: 1024px) {
    .event {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}

@media (max-width: 760px) {
    .container .table-box {
        overflow-x: auto;
    }

    .container .table-box table {
        width: 100%;
    }

    .container .table-box table thead {
        display: none;
    }

    .container .table-box table tbody tr {
        margin-bottom: 1rem;
    }

    .container .table-box table tbody tr td {
        padding: 0.5rem 2rem;
        display: block;
        text-align: left;
    }

    .container .table-box table tbody tr td:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-top: 2rem;
    }

    .container .table-box table tbody tr td:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-bottom: 2rem;
    }

    .container .table-box table tbody tr:nth-child(odd) td {
        background: #6666665f;
    }

    .container .table-box table tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 1rem;
    }
}

@media (max-width: 420px) {
    .container .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .table-box {
        overflow-x: auto;
    }

    .container .table-box table {
        width: 100%;
        table-layout: fixed;
    }
}
