.container,
.event {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event {
    width: 80%;
    padding: 4rem;
}

.event h1 {
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
}

.container .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .title h2 {
    /* color: var(--main-color); */
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.container .table-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .table-box table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.container .table-box table thead {
    background: var(--main-color);
}

.container .table-box table thead tr th {
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.container .table-box table tbody tr td {
    padding: 1rem;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.container .table-box table tbody tr td a {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
}

.container .table-box table tbody tr td a:hover {
    color: var(--main-color);
}


/* media queries */
@media (max-width: 1024px) {
    .event {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    /* .container .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .title h2 {
        font-size: 2.5rem;
    }

    .container .table-box {
        overflow-x: auto;
    }

    .container .table-box table {
        width: 100%;
    } */

    /* .container .table-box table thead {
        display: none;
    } */

    /* .container .table-box table tbody tr td {
        display: block;
        text-align: left;
    }

    .container .table-box table tbody tr td:first-child {
        margin-bottom: 0.5rem;
    }

    .container .table-box table tbody tr td:last-child {
        margin-top: 0.5rem;
    }

    .container .table-box table tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 1rem;
    } */

    /* .container .table-box table tbody tr td a {
        font-size: 1.5rem;
    }

    .container .table-box table tbody tr td a:hover {
        color: var(--main-color);
    }

    .container .table-box table tbody tr td a i {
        font-size: 1.5rem;
    }

    .container .table-box table tbody tr td a i:first-child {
        margin-right: 0.5rem;
    }

    .container .table-box table tbody tr td a i:last-child {
        margin-left: 0.5rem;
    }

    .container .table-box table tbody tr td a i:hover {
        color: var(--main-color);
    } */
}
