/* without class credit */
main div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.container .form-box {
    width: 50%;
    height: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .form-box h3 {
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
}

.container .form-box p {
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 1.8;
}

.container .form-box .input-group {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.container .form-box .input-group input {
    width: 100%;
    background: #333;
    border: 2px solid transparent;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: .5rem;
}

.container .form-box .input-group input:focus {
    border: 2px solid var(--main-color);
}

.container .form-box .input-group input::placeholder {
    color: #ffffff64;
}

.container .form-box .input-group label {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
    display: block;
}

.container .form-box .input-group small {
    color: #DC3545;
    font-size: 1.2rem;
    margin-top: .5rem;
    display: none;
}

.container .form-box .input-group small.active {
    display: block;
}

.container .form-box .checkbox {
    justify-content: unset;
    gap: 1rem;
    margin: 1rem 0;
}

.container .form-box .checkbox input {
    width: auto;
    margin: 0;

}

.container .form-box .checkbox label {
    font-size: 1.5rem;
    color: #fff;
}

.container button {
    width: 100%;
}

.container .form-box .link {
    color: #fff;
    margin-top: 1rem;
}

.container .form-box .link a {
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
    margin-left: .5rem;
}

.container .form-box .link a:hover {
    text-decoration: underline;
}

/* media queries */
/* remove photo when screen size is less than 768px */
@media (max-width: 768px) {
    .container img {
        display: none;
    }

    .container .form-box {
        width: 100%;
        padding: 2rem;
    }
}
