.guest {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.guest {
    width: 80%;
    height: 100%;
    padding: 4rem;
}

.guest h1 {
    color: var(--main-color);
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.guest p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* media queries */
@media (max-width: 1024px) {
    .guest {
        width: 100%;
    }
}
