/* home */
.home .content {
    text-align: center;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h3 {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.home .home-slider .swiper-slide {
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width: 35rem;
}

.home .home-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* service */

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.service .box-container .box {
    border-radius: .5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;
}

.service .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main-color);
    color: #fff;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    line-height: 1.8;
}

/* about */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 1rem;
}

.about .row .image img {
    width: 100%;
    border-radius: .5rem;
    border: 1rem solid #333;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    font-size: 3.5rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 2;
}

/* gallery */
.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.gallery .box-container .box {
    position: relative;
    border: 1rem solid #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box:hover img {
    transform: scale(1.1);
    filter: grayscale();
}

.gallery .box-container .box .title {
    position: absolute;
    top: -10rem;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.gallery .box-container .box:hover .title {
    top: 0;
}

.gallery .box-container .box .icons {
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: #333;
    padding-top: 1rem;
    text-align: center;
}

.gallery .box-container .box:hover .icons {
    bottom: 0;
}

.gallery .box-container .box .icons a {
    font-size: 2rem;
    margin: .5rem 1rem;
    color: #fff;
}

.gallery .box-container .box .icons a:hover {
    color: var(--main-color);
}

/* price */
.price .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.price .box-container .box {
    padding: 2rem 0;
    background: #333;
    border-radius: .5rem;
    text-align: center;
}

.price .box-container .box:hover {
    transform: scale(1.03);
}

.price .box-container .box .title {
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 0;
    font-size: 2rem;
}

.price .box-container .box .amount {
    color: #fff;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul {
    list-style-type: none;
    padding: 1rem 0;
}

.price .box-container .box ul li {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.price .box-container .box ul li i {
    color: var(--main-color);
    padding-right: .5rem;
}

/* review */
.review .box {
    border-radius: .5rem;
    background: #333;
    padding: 2rem;
    position: relative;
}

.review .box .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--main-color);
    font-size: 5rem;
}

.review .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box .user h3 {
    font-size: 2rem;
    color: #fff;
}

.review .box .user span {
    font-size: 1.5rem;
    color: #eee;
}

.review .box p {
    line-height: 2;
    color: #eee;
    padding: .5rem 0;
    font-size: 1.6rem;
}

/* contact */
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    width: 100%;
    background: #333;
    border-radius: .5rem;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
    color: #eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
    background: #444;
}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

/* media queries  */

@media (max-width:768px) {
    .home .content h3 {
        font-size: 4rem;
    }
}

@media (max-width:450px) {
    .home .home-slider .swiper-slide {
        width: 27rem;
    }
    .contact form .inputBox input {
        width: 100%;
    }
}
